.container {
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.profiles {
    display: flex;
    display: row;
    width: 20%;
    border:1em solid black;
}

.profiles i {
    font-size: 3em;
    color: black;
}

#profilesPic {
    display:flex;
    width: 200px;
}

