body, html {
    display:inline-block;
    width: 100%;
}


#dealerHandContainer {
    display: inline-block;
    width: 100%;
    border: 3px black solid;
}

#playerHandContainer {
    display: inline-block;
    width:  100%;
    border: 3px red solid;

}

.playerChoices { 
    width: 100px;
    height: 100px;
    display: inline-block;
}

#playerChoiceButtonsContainer { 
    display:inline-block;
    position: relative;
    width: 100%;

}

.pressed {
    opacity: 50%;
    background-color: black;
}